
#play {
	text-align:center;
}

#triangle-right {
	border-radius: 50px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
}


#square {
    
    border-radius: 25px;
    background: #8AC007;
    padding: 20px; 
    width: 50px;
    height: 34px;
}


#triangle-left {
   
    border-radius: 50px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid red;
	border-bottom: 50px solid transparent;
}


